<div class="container">

  <div class="white">
    <div class="center">
        <h4 class="green"><%= @article.governance.title %> </h4>
    </div>
    <div class="spaceb center">
        <h5 class="green"><%= @article.chapter %></h5>
        <h5 class="green"><%= @article.section %></h5>
    </div>
    <br>
    <br>
    <div class="row margin1em-hor">
      <% @topics.each do |topic| %>
        <h5 class="btn-tag"><%= link_to("#"+topic.name , topic_path(topic.id)) %></h5>
      <% end %>
    </div>

    <div class="margin1em card padding1">
      <p><%= @article.details.html_safe %></p>
    </div>

    <div>
        <%= render 'shared/related_articles',  locals: {title: 'na instrução CVM 555', articles_array: @related_articles_CVM555 } %>

        <%= render 'shared/related_articles',  locals: {title: 'na instrução CVM 558', articles_array: @related_articles_CVM558 } %>

        <%= render 'shared/related_articles',  locals: {title: 'no Codigo Anbima', articles_array: @related_articles_ANBIMA } %>
    </div>
  </div>
</div>
