<div class="container">

  <div class="white">
    <div class="center">
        <h4 class="green"><%= @article.governance.title %> </h4>
    </div>
    <div class="spaceb center">
        <h5 class="green"><%= @article.chapter %></h5>
        <h5 class="green"><%= @article.section %></h5>
    </div>
    <br>
    <br>
    <div class="row margin1em-hor">
      <% @topics.each do |topic| %>
        <h5 class="btn-tag"><%= link_to("#"+topic.name , topic_path(topic.id)) %></h5>
      <% end %>
    </div>

    <div class="margin1em card padding1">
      <p><%= @article.details.html_safe %></p>
    </div>

    <div>
      <p><i>Outros artigos relacionados na instrução CVM 555:</i></p>
      <div class="row margin1em-hor">
        <% @related_articles_CVM555.each do |related_article| %>
          <h6 class="btn-tag-inverted"><%= link_to("#{related_article.details[0..8]}", article_path(related_article.id)) %> </h6>
        <% end %>
      </div>

      <p><i>Outros artigos relacionados na instrução CVM 558:</i></p>
      <div class="row margin1em-hor">
        <% @related_articles_CVM558.each do |related_article| %>
          <h6 class="btn-tag-inverted"><%= link_to("#{related_article.details[0..8]}", article_path(related_article.id)) %> </h6>
        <% end %>
      </div>

      <p><i>Outros artigos relacionados no Codigo Anbima:</i></p>
      <div class="row margin1em-hor">
        <% @related_articles_ANBIMA.each do |related_article| %>
            <h6 class="btn-tag-inverted"><%= link_to("#{related_article.details[0..8]}", article_path(related_article.id)) %>
        <% end %>
      </div>
    </div>

  </div>
</div>
