<div class="container">

  <div class="white">
    <div class="center">
        <h4 class="green"><%= @article.governance.title %> </h4>
    </div>
    <div class="spaceb center">
        <h5 class="green"><%= @article.chapter %>  </h5>
        <h5 class="green"><%= @article.section %>  </h5>
    </div>
    <br>
    <br>
    <div>
      <h5><u>Artigo <%= @article.number %>:</u>
      <% @article.topics.each do |topic| %>
        <i><%= link_to("#"+topic.name , topic_path(topic.id))  %></i>
      <% end %></h5>
    </div>

    <div>s
      <p><%= @article.details.html_safe %>  </p>
    </div>

    <div>
      <p>Outros artigos relacionados</p>
    </div>
  </div>
</div>
