<div class="container">

  <div class="white">
    <div class="center">
        <h4 class="green"><%= @article.governance.title %> </h4>
    </div>
    <div class="spaceb center">
        <h5 class="green"><%= @article.chapter %></h5>
        <h5 class="green"><%= @article.section %></h5>
    </div>
    <br>
    <br>
    <div>
      <ul>
      <% @topics.each do |topic| %>
        <li><h5><%= link_to("#"+topic.name , topic_path(topic.id), class:"btn-tag")  %></h5></li>
      <% end %>
      </ul>
    </div>

    <div class="margin1em card padding1">
      <p><%= @article.details.html_safe %></p>
    </div>

    <div>
      <p><u>Outros artigos relacionados na CVM555:</u></p>

      <div class="row">
        <% @related_articles_CVM.each do |related_article| %>
          <div class="col-xs-12 col-md-12">
            <%= link_to("", article_path(related_article.id), class:"card-link") %>

               <p><%= "Artigo #{related_article.details[0..7]}" %> </p>

          </div>
        <% end %>
      <p><u>Outros artigos relacionados no Codigo Anbima:</u></p>
        <% @related_articles_ANBIMA.each do |related_article| %>
          <div class="col-xs-12 col-md-12">
            <%= link_to("", article_path(related_article.id), class:"card-link") %>

               <p><%= "Artigo #{related_article.details[0..7]}" %> </p>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
