<div class="row">
 <% @articles.each do |article| %>
    <div class="col-xs-12 col-md-12">
      <div class="card-article">
        <%= link_to("", article_path(article.id), class:"card-link")  %>
         <img src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
          <div class="card-article-infos">
            <div class="card-article-title">
              <h6><%= article.governance.title %> </h6>
              <p class="green chapter-font"><b><%= article.chapter %> - <%= article.section %></b></p>
            </div>
           <div class="card-article-topics">
                <% article.topics.each do |topic|  %>
                <p class="text-inline"><i>#<%= topic.name %></i></p>
                <% end  %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>

