<div class="row">
 <% @articles.each do |article| %>
    <div class="col-xs-12 col-md-12">
      <div class="card-article">
        <%= link_to("", article_path(article.id), class:"card-link")  %>
         <!-- <img src="https://res.cloudinary.com/dzxrdf9za/image/upload/v1589497004/CVM.png" /> -->
          <div class="card-article-infos">
            <div class="card-article-topics">
            <% topics = article.topics %>

            </div>
            <div class="card-article-title">
            <h2><%= article.governance.title %> </h2>
            <h5><%= article.chapter %> <br> <%= article.section %> <br> Artigo <%= article.number %> </h5>
            </div>
            <div class="card-article-details">
             <h6>
             <% topics.each do |topic|  %>
                #<%= topic.name %>
              <% end %>
              </h6>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
