<div class="row">
 <% @articles.each do |article| %>
    <div class="col-xs-12 col-md-12">
      <div class="card-article">
        <%= link_to("", article_path(article.id), class:"card-link")  %>
         <!-- <img src="https://res.cloudinary.com/dzxrdf9za/image/upload/v1589497004/CVM.png" /> -->
          <div class="card-article-infos">
            <div class="card-article-topics">
            <% topics = article.topics %>
             <% topics.each do |topic|  %>
                <a class="btn-ghost"><%= topic.name %></a>
              <% end %>
            </div>
            <div class="card-article-title">
            <h2><%= article.governance.title %> </h2>
            <h6><%= article.chapter %> - <%= article.section %> - Artigo <%= article.number %> </h6>
            </div>
            <div class="card-article-details">
            <p><%= article.details.html_safe %></p>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
