<div class="navbar navbar-expand-sm navbar-light navbar-reg">
  <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dzxrdf9za/image/upload/v1590182872/Flag_icon.png" %>
  <% end %>

   <!-- Dropdown appearing on mobile only -->
  <button id="burger-menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Todos os assuntos", topics_path, class: "nav-link red" %>
          </li>
          <li class="nav-item">
            <%= link_to "Todos os artigos", articles_path, class: "nav-link red" %>
          </li>
          <li class="nav-item">
            <%= link_to "Toda a governança", governances_path, class: "nav-link red" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
